{% extends 'base.html' %} 
{% block content %}
<div class="auth-container">
  <div class="auth-card">
    <h1 class="auth-title">Add Product</h1>
    
    <form method="POST" class="auth-form">
      {% csrf_token %}
      {% for field in form %}
        <div>
          {{ field.label_tag }}
          {{ field }}
          {% if field.errors %}
            <div class="auth-messages">{{ field.errors }}</div>
          {% endif %}
        </div>
      {% endfor %}
      
      <input type="submit" value="Add Product" class="auth-btn" />
    </form>
  </div>
</div>
{% endblock %}
