{% extends 'base.html' %}
{% load static %} {# Pastikan ini ada di atas #}
{% load humanize %}

{% block title %}Dashboard | Chelsea Shop{% endblock title %}

{% block content %}



<div class="profile-card">
  <div class="profile-row">
    <span class="profile-label">NPM:</span>
    <span class="profile-value">{{ npm }}</span>
  </div>
  <div class="profile-row">
    <span class="profile-label">Name:</span>
    <span class="profile-value">{{ name }}</span>
  </div>
  <div class="profile-row">
    <span class="profile-label">Class:</span>
    <span class="profile-value">{{ class }}</span>
  </div>
  <div class="profile-row">
    <span class="profile-label">Project Name:</span>
    <span class="profile-value">{{ project }}</span>
  </div>
</div>

</div>

<hr class="my-4">

{% if not product_list %}
  <div class="no-product-container">
    <img src="{% static 'images/no-product.png' %}" alt="No Products Found">
    <h3>Anda Belum Memiliki Product</3>

    <p>Silahkan menambahkan product anda ke dalam toko.</p>
    <a href="{% url 'main:create_product' %}" class="btn btn-primary" style="margin-top: 24px;">
      + Add Product
    </a>
  </div>
{% else %}
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 p-6">
    {% for product in product_list %}
      {% include 'product_card.html' %}
    {% endfor %}
  </div>
{% endif %}

{% endblock %}