{% load humanize %}
<div class="product-card">
  <div class="product-header">
    <h3>{{ product.name }}</h3>
    <span class="product-badge stock-badge">Stock: {{ product.stock }}</span>
    <span class="product-badge price-badge">Rp {{ product.price|intcomma }}</span>
  </div>

  <div class="flex justify-center">
    {% if product.thumbnail %}
      <img src="{{ product.thumbnail }}" alt="{{ product.name }}" class="product-image">
    {% endif %}
  </div>

  <div class="product-desc">
    {{ product.description|truncatewords:25 }}
  </div>

  <div class="product-buttons">
    <a href="{% url 'main:show_product' product.id %}" class="read-more">Read More</a>
  <button type="button" class="edit-btn edit-trigger" data-id="{{ product.id }}">Edit Product</button>
  <button type="button" class="delete-btn delete-trigger" data-id="{{ product.id }}">Delete Product</button>
  </div>
</div>
